.places__url-heading {
  /*border: 1px solid red;*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2;
  color: #aaaaaa;
}
