.places__image {
  width: 100%;
  max-width: 460px;
}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__place {
    gap: 48px 32px;
    max-width: 928px;
  }
}
*/
@media screen and (max-width: 767px) {
  .places__image {
    max-width: 100%;
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .places__image {
    max-width: 100%;
    margin: 0px;
    min-width: 320px;
  }
}