.intro__list {
  /*border: 1px solid red;*/
  max-width: 690px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
