.lead {
  border: 1px solid red;
  max-width: 1184px;
  width: 100%;
  margin: 0;
  padding: 0 0 92px;
  box-sizing: border-box;


}

@media screen and (max-width: 1023px) {
  .lead  {
    padding: 0 48px 92px;

    


  }
}

@media screen and (max-width: 767px) {
  .lead  {
    padding: 0 0 88px;



  }
}

@media screen and (max-width: 319px) {
  .lead  {
    padding: 0 0 64px;

    
  }
}