/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.lead {
  /*border: 1px solid red;*/
  width: 100%;
  margin: 0;
  padding: 0 48px 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
     padding: 0 0 64px;
  }
}

