.cover__subtitle {
  /*border: 1px solid red;*/
  max-width: 360px;
  margin: 32px auto 0;
  padding: 429px auto 245px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #ffffff;
}

