/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  /*border: 1px solid red;*/
  width: calc(100% - 96px);
  padding: 28px 48px 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 48px 56px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 319px) {
  .header {
    padding: 16px 16px 48px;
  }
}

