.footer__box {
    max-width: 1184px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*@media screen and (max-width: 767px) {
    .footer__box {
flex-direction: column;
    }    
}*/