.lead__title {
  max-width: 720px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  outline: 1px dotted rgb(99, 99, 53);
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }
}
