.lead__title {
  max-width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  /*для высоты строки вместо пикселей зададим относительные размеры*/
  line-height: 1.04;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .lead__title {
    font-size: calc((96px - 40px) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc((100px - 1.04) * ((100vw - 320px) / (1280 - 320)));
  }
}
