.footer__links {
    margin: 0;
    padding: 0;
    /*text-decoration: none;*/
    list-style-type: none;
    display: flex;
    /*border: 1px solid rgb(32, 167, 5);*/
   
    

}

@media screen and (max-width: 767px) {
    .footer__links {
flex-direction: column;
    }    
}