/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.intro {
  /*border: 1px solid red;*/
  margin: 0 auto;
  width: 100%;
  padding: 0 0 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 0 48px 92px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 24px 88px;
    
  }
}

@media screen and (max-width: 319px) {
  .intro {
    padding: 0 16px 64px;
  }
}

