.cover {
  max-width: 1184px;
  padding: 0;
  margin: 0;
  background-image: url(../../images/cover-trains.jpg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}
