.places__place {

width: 984px;
height: 660px;
left: 148px;
top: 2517px;

display: grid;
grid-template-columns: 1fr 1fr 100%;
margin-bottom: 76px;
}

.places__place:last-child {
    margin-bottom: 92px;
}   