.cover__overlay {
  /*border: 1px solid red;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #2A2C2F;
  opacity: 0.3;

}

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
