.cover__overlay {
  border: 3px outset rgb(31, 255, 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #2A2C2F;
  opacity: 0.3;
  padding-top: calc(((100%/1.6) - 250px)/2); 
  padding-bottom: calc(((100%/1.6) - 250px)/2);
}

@media screen and (max-width: 767px){
  .cover__overlay {
    padding-top: calc(((100%/1.6) - 134px)/2);
    padding-bottom: calc(((100%/1.6) - 134px)/2);
  }
}

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
