.cover__title {
  /*border: 1px solid red;*/
  padding: 245px auto 343px;
  margin: 0 auto;
  max-width: 560px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;


  text-align: center;

  color: #ffffff;
}
