.places__website {
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .places__website {
    padding: 0 16px;
  }
}
