/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.places__website {
  /*border: 1px dashed rgb(0, 225, 255);*/
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}