.header__lang-links {
  /*border: 1px solid red;*/
  display: flex;
  list-style: none;
  width: 77px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 18px;
}

