.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin: 0;
  padding: 0;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    /*max-width: 62px;*/
    margin-bottom: 6px;
    justify-content: space-between;
    /*border: dotted 1px whitesmoke;*/
    
  }
}
