.lead__map {
  /*border: 1px solid red;*/
  max-width: 984px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}


/*@media screen and (max-width: 1023px) {
  .lead__map  {
    max-width: 928px;

    margin: 0;
    padding: 0 48px 0;
  }
}