.lead__map {
  width: 100%;
  max-width: 984px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .lead__map {
    padding: 0 2px;
  }
}
