.lead__map {
  /*border: 1px solid red;*/
  width: 100%;
  max-width: 984px;
  box-sizing: border-box;
  margin: 0 auto;

  



}
/*@media screen and (min-width: 1280px) {
  .lead__map  {
    max-width: 100vh;
    
  }
}

*/